<p>
  <h3><%= @article.title %></h3>
</p>

<p align="justify">
  <%= @article.text %>
</p>
<hr>

<h4>Comments</h4>
<div id = 'comments'>
<%= render @article.comments %>
</div>
<h4>Add a comment:</h4>
<%= render 'comments/form' %>
<ul class="inline-list right">
    <li><%= link_to 'Edit', edit_article_path(@article) %></li>
    <li><%= link_to 'Back', articles_path %></li>
</ul>